@import 'primeflex/primeflex.scss';

body {
  background-image: url(assets/images/music_background_2-wallpaper-1920x1080.jpg) ;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
