<footer class="footer">
  <div class="footer-container">
    <div class="info">
      <h3>Information about us</h3>
      <div class="content">
          <p>Our company is dedicated to bringing the best live music experiences to fans all over the country.<br> From intimate club shows to massive stadium tours, we work with the biggest names in the industry as well as up-and-coming artists to create unforgettable concerts.<br> With top-notch production and a commitment to customer satisfaction, we strive to make every show a once-in-a-lifetime experience.<br> Thank you for choosing us as your go-to source for live music entertainment.</p>
      </div>
    </div>
    <div class="links">
      <h3>External</h3>
      <a href="https://www.facebook.com/Nedelcu.Luis.Gabriel/" >Facebook</a>
      <a href="https://www.instagram.com/luis_gabriel.n/" >Instagram</a>
      <a href="https://www.youtube.com/channel/UCED6GteeP8WoxdYgh0MnSxQ/" >Youtube</a>
      <a href= "mailto:abc@example.com">Send Email</a>
      <div>Contact: +40760252777 </div>
    </div>

  </div>
</footer>
